# =========================
# Dependencies
# =========================
node_modules/
**/node_modules/

# =========================
# Environment Files
# =========================
.env
.env.*
**/.env
**/.env.*

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# Build
# =========================
dist/
build/
coverage/
**/dist/
**/build/
**/coverage/

# =========================
# Vite
# =========================
.vite/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# AWS
# =========================
*.pem

# =========================
# Firebase
# =========================
serviceAccountKey.json
firebase-adminsdk*.json

# =========================
# Docker
# =========================
.dockerignore

# =========================
# Misc
# =========================
.cache/
tmp/